@charset "ISO-8859-1";
.row {
	display: flex;
	padding: 25px;
}

.column1 {
	padding: 15px;
	flex: 50;
	border-style: inset;
}

.column2 {
	padding: 15px;
	flex: 50;
	border-style: inset;
}

.logout {
	position: relative;
	right: 0;
}

.cancel {
	position: relative;
	left: 50px;
}

.verify {
	position: absolute;
	right: 70px;
}

button {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 95%);
}

form {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 95%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

* {
    background-color: hsl(0, 0%, 95%);
}